*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eaeded;
}


/* Header */

header{
    width:100%;
    height:70px;
    background:#131921;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:10px;
}


.logo{
    font-size:28px;
    font-weight:bold;
}

.logo span{
    color:#febd69;
}


.search{
    display:flex;
    width:45%;
}


.search input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    font-size:16px;
}


.search button{
    background:#febd69;
    border:none;
    padding:0 20px;
    cursor:pointer;
    font-weight:bold;
}


.nav{
    display:flex;
    gap:20px;
}


/* Banner */

.banner{
    height:250px;
    background:#37475a;
    color:white;
    text-align:center;
    padding-top:80px;
}


.banner h1{
    font-size:40px;
}


.banner p{
    margin-top:15px;
    font-size:18px;
}


/* Products */

h2{
    text-align:center;
    margin:30px;
    font-size:30px;
}


.products{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:20px;
}


.card{
    background:white;
    width:280px;
    padding:20px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}


.card img{
    width:100%;
    height:200px;
    object-fit:contain;
}


.card h3{
    margin:15px 0;
}


.card p{
    font-size:20px;
    margin-bottom:15px;
}


.card button{
    background:#ffd814;
    border:none;
    padding:12px 25px;
    border-radius:20px;
    cursor:pointer;
    font-weight:bold;
}


.card button:hover{
    background:#f7ca00;
}


/* Footer */

footer{
    margin-top:40px;
    background:#131921;
    color:white;
    text-align:center;
    padding:20px;
}


/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
        height:auto;
        gap:15px;
        padding:20px;
    }

    .search{
        width:90%;
    }

    .banner h1{
        font-size:28px;
    }

    .nav{
        font-size:14px;
    }

}
